.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
}

/*Home Page comment */
.commentcard {
  position: absolute;
  top: 3px;
  right: -450px;
  width: 350px;
  height: 646px;
  background-color: rgb(24 27 32);
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 17px 17px 27px 27px;
  padding: 10px 25px;
}

.commentcard .commenttitle {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #f1f1f1;
  font-weight: 700;
  font-size: 13px;
  color: #ffffff;
}

.commentcard .commenttitle::after {
  content: '';
  width: 8ch;
  height: 1px;
  position: absolute;
  bottom: -1px;
  background-color: #47484b;
}

.comments {
  display: grid;
  grid-template-columns: 35px 1fr;
  gap: 20px;
  padding: 20px;
  height: 439px;
  max-height: 450px; /* Set a maximum height for vertical scrolling */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
}

.comment-react {
  width: 35px;
  height: fit-content;
  display: grid;
  grid-template-columns: auto;
  margin: 0;
  background-color: rgb(24 27 32);
  border-radius: 5px;
}

.comment-react button {
  width: 35px;
  height: 35px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  outline: none;
}

.comment-react button:after {
  content: '';
  width: 40px;
  height: 40px;
  position: absolute;
  left: -2.5px;
  top: -2.5px;
  background-color: #f5356e;
  border-radius: 50%;
  z-index: 0;
  transform: scale(0);
}

.comment-react button svg {
  position: relative;
  z-index: 9;
}

.comment-react button:hover:after {
  animation: ripple 0.6s ease-in-out forwards;
}

.comment-react button:hover svg {
  fill: #f5356e;
}

.comment-react button:hover svg path {
  stroke: #f5356e;
  fill: #f5356e;
}

.comment-react hr {
  width: 80%;
  height: 1px;
  background-color: #dfe1e6;
  margin: auto;
  border: 0;
}

.comment-react span {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
}

.comment-container {
  display: flex;
  flex-direction: row; /* Display comments in a row */
  gap: 15px;
  padding: 0;
  margin: 0;
}

.comment-container .user {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px;
}

.comment-container .user .user-pic {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 50%;
}

.comment-container .user .user-pic:after {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  background-color: #0fc45a;
  border: 2px solid #ffffff;
}

.comment-container .comment .user-info {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;

}

.comment-container .comment .user-info span {
  font-weight: 700;
  font-size: 12px;
  color: #47484b;
}

.comment-container .comment .user-info p {
  font-weight: 600;
  font-size: 10px;
  color: #acaeb4;
}

.comment-container .comment-content {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #ffffff;
}

.text-box {
  width: 100%;
  height: fit-content;
  background-color: rgb(24 27 32);
  padding: 8px;
}

.text-box .box-container {
  background-color: rgb(24 27 32);
  border-radius: 8px 8px 21px 21px;
  padding: 8px;
}

.text-box textarea {
  width: 100%;
  height: 40px;
  resize: none;
  border: 0;
  border-radius: 6px;
  padding: 12px 12px 10px 12px;
  font-size: 13px;
  outline: none;
  caret-color: #0a84ff;
  color: #ffffff;
  background-color: rgb(24 27 32);
}

.text-box .formatting {
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
}

.text-box .formatting button {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  border: 0;
  outline: none;
}

.text-box .formatting button:hover {
  background-color: #f1f1f1;
}

.text-box .formatting .send {
  width: 30px;
  height: 30px;
  background-color: #0a84ff;
  margin: 0 0 0 auto;
}

.text-box .formatting .send:hover {
  background-color: #026eda;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*Home Page Card*/
.post-card {
  width: 320px;
  background: lightgrey;
  background-color: rgb(24 27 32);
  border: 1px solid rgb(84 90 106);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: 10px 10px 10px 0;
  display: flex;
  position: relative;
}
.comment-like .commentButton {
  /* Add common styles for the like button */
  padding: 0px;
  margin: 2px 0px 0px 50px;
  background-color: transparent;
  color: #ffffff; /* Adjust the color as needed *//* Adjust the padding as needed */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px; /* Adjust the font size as needed */
  
}
.likesLength{
  color: #ff0000;
}
.unlikeBttn {
  /* Styles for the unlike button */
  background-color: transparent;
  color: #ffffff; /* Adjust the color as needed */
  padding: 0px; /* Adjust the padding as needed */
  border: none;
  margin: 2px 0px 0px 55px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px; /* Adjust the font size as needed */
}

.likeBttn {
    /* Add common styles for the like button */
  background-color: transparent;
  color: #ff0000; /* Adjust the color as needed */
  padding: 0px; /* Adjust the padding as needed */
  border: none;
  margin: 2px 0px 0px 55px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px; /* Adjust the font size as needed */
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: blueviolet;
  background-image: linear-gradient(to top left, blueviolet,rgb(73, 31, 112));
}

.post-card .title {
  font-size: 20px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
  transition: all .35s ease-in;
}
.title:hover {
  text-decoration: underline blueviolet;
}


.datetime {
  font-size: 12px;
  color: rgb(168 179 207);
  margin: 10px 0;
}

.image-preview {
  position: relative;
  border-radius: 20px;
  margin-bottom: 4px;
  overflow: hidden; /* Ensures that the image won't overflow its container */
}

.image-preview img {
  display: block;
  width: 100%;
  height: auto; /* Allows the image to maintain its aspect ratio */
  border-radius: 20px;
  object-fit: cover; /* Ensures the image covers the entire container */
}

.comment-like {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 0;
}

.comment-like span {
  cursor: pointer;
  height: 40px;
  width: 50px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  border-radius: 10px;
  background-color: transparent;
  transition: all .15s ease;
}

.comment-like span:hover {
  background-color: rgba(137, 43, 226, 0.096);
}

.comment-like span svg {
  fill: rgb(255, 255, 255);
  margin-right: 2px;
}
/* CREATE POST PAGE CSS */
.mediacard {
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .media-card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
  
 }
 
 .media-card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .media-text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .media-text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .mediacard:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .mediacard:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }

.mediaimage {
  width: 100%;
  height: 100%; /* Adjusted height to fill the card */
  object-fit: cover; /* or "contain" based on your preference */
  border-radius: 20px; /* Match the border-radius of the card */
}


/* NAVBAR */

.navbar {
  width: 100%;
  height: 70px;
  background: #5b37b7;
  color: #010101;
  
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}


.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar .logout {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}









/* LOGIN */
/*password*/
.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: -100px;
}

.input {
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  padding-left:  3rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #f8fafc;
  color: #0d0c22;
  transition: .5s ease;
}

.input::placeholder {
  color: #94a3b8;
}

.input:focus, input:hover {
  outline: none;
  border-color: rgba(129, 140, 248);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}
.inputContainer {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: -100px;
}
.usernameicon {
  position: absolute;
  left: 1.2rem;
  fill: none;
  width: 1.2rem;
  height: 1rem;
}

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-image: url('./image.png'); /* Yolunuza göre ayarlayın */
  background-repeat: repeat;
  background-attachment: fixed; /* Use fixed to make the background fixed while scrolling */
  background-color: rgba(255, 255, 255, 1000); /* Adjust the last value (0.5) for transparency */
  background-position: top left;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}
/* LOGIN button */
.loginbutton {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: rgb(0 107 179);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.loginicon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.loginbutton:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.loginbutton:hover .icon {
  transform: translate(4px);
}

.loginbutton:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.loginbutton::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
/* Register*/
.passwordgroup{
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: -100px;
}

.usernamegroup{
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: -100px;
}
.emailgroup{
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  max-width: -100px;
}
.registrationpage {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  
}
h1 {
  position: relative;
  color: hsl(0, 0%, 0%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 0%, 80%);
  }
  to {
    border-right-color: transparent;
  }
}
.registerpage{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  background-image: url('./image.png'); /* Yolunuza göre ayarlayın */
  background-repeat: repeat;
  background-attachment: fixed; /* Use fixed to make the background fixed while scrolling */
  background-color: rgba(255, 255, 255, 1000); /* Adjust the last value (0.5) for transparency */
  background-position: top left;
}
.registerusericon {
  position: absolute;
  left: 1.2rem;
  fill: none;
  width: 1.2rem;
  height: 1rem;
}
.Registration input{
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}
.Registration {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 98%;
  height: 50vh;
  padding-top: 100px;
  margin-bottom: 20px; /* veya margin-top: 20px; */
  
}
.registerpasswordicon {
  position: absolute;
  left: 1.2rem;
  fill: none;
  width: 1.2rem;
  height: 1rem;
}
.registeremailicon {
  position: absolute;
  left: 1.2rem;
  fill: none;
  width: 1.2rem;
  height: 1rem;
}






/* logout */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #4c9173;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}



